@variant dark (&);
@variant light (&:where(.light, .light *));
@variant focus (&:focus-visible);

@theme {
  --color-background: var(--theme-color-background);
  --color-foreground: var(--theme-color-foreground);
  --color-muted: var(--theme-color-muted);
  --color-muted-foreground: var(--theme-color-muted-foreground);
  --color-popover: var(--theme-color-popover);
  --color-popover-foreground: var(--theme-color-popover-foreground);
  --color-border: var(--theme-color-border);
  --color-input: var(--theme-color-input);
  --color-card: var(--theme-color-card);
  --color-card-foreground: var(--theme-color-card-foreground);
  --color-primary: var(--theme-color-primary);
  --color-primary-foreground: var(--theme-color-primary-foreground);
  --color-secondary: var(--theme-color-secondary);
  --color-secondary-foreground: var(--theme-color-secondary-foreground);
  --color-accent: var(--theme-color-accent);
  --color-accent-foreground: var(--theme-color-accent-foreground);
  --color-destructive: var(--theme-color-destructive);
  --color-destructive-foreground: var(--theme-color-destructive-foreground);
  --color-ring: var(--theme-color-ring);

  --font-sans: var(--theme-font-sans);

  --spacing: 4px;

  --radius: var(--spacing);
  --radius-xs: calc(var(--radius) * 0.5);
  --radius-sm: calc(var(--radius) * 1);
  --radius-md: calc(var(--radius) * 1.5);
  --radius-lg: calc(var(--radius) * 2);
  --radius-xl: calc(var(--radius) * 3);
  --radius-2xl: calc(var(--radius) * 4);
  --radius-3xl: calc(var(--radius) * 6);
  --radius-4xl: calc(var(--radius) * 8);
}

@layer base {
  :root {
    --theme-color-background: oklch(0.13 0.03 261.6);
    --theme-color-foreground: oklch(0.93 0.01 253.47);
    --theme-color-muted: oklch(0.21 0.04 266.63);
    --theme-color-muted-foreground: oklch(0.64 0.04 257.47);
    --theme-color-accent: oklch(0.28 0.04 258.32);
    --theme-color-accent-foreground: oklch(0.98 0 0);
    --theme-color-popover: oklch(0.13 0.03 261.6);
    --theme-color-popover-foreground: oklch(0.71 0.04 256.83);
    --theme-color-border: oklch(0.28 0.04 258.32);
    --theme-color-input: oklch(0.28 0.04 258.32);
    --theme-color-card: oklch(0.13 0.03 261.6);
    --theme-color-card-foreground: oklch(0.93 0.01 253.47);
    --theme-color-primary: oklch(0.98 0 0);
    --theme-color-primary-foreground: oklch(0.09 0.01 261.37);
    --theme-color-secondary: oklch(0.21 0.04 265.74);
    --theme-color-secondary-foreground: oklch(0.98 0 0);
    --theme-color-destructive: oklch(0.4 0.13 25.77);
    --theme-color-destructive-foreground: oklch(0.98 0 0);
    --theme-color-ring: oklch(0.28 0.04 258.32);

    --theme-font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  :root.light {
    --theme-color-background: oklch(1 0 0);
    --theme-color-foreground: oklch(0.21 0.04 265.74);
    --theme-color-muted: oklch(0.97 0.01 0);
    --theme-color-muted-foreground: oklch(0.55 0.04 257.47);
    --theme-color-popover: oklch(1 0 0);
    --theme-color-popover-foreground: oklch(0.21 0.04 265.74);
    --theme-color-border: oklch(0.93 0.01 255.7);
    --theme-color-input: oklch(0.93 0.01 255.7);
    --theme-color-card: oklch(1 0 0);
    --theme-color-card-foreground: oklch(0.21 0.04 265.74);
    --theme-color-primary: oklch(0.21 0.04 265.74);
    --theme-color-primary-foreground: oklch(0.98 0 0);
    --theme-color-secondary: oklch(0.97 0.01 0);
    --theme-color-secondary-foreground: oklch(0.21 0.04 265.74);
    --theme-color-accent: oklch(0.97 0.01 0);
    --theme-color-accent-foreground: oklch(0.21 0.04 265.74);
    --theme-color-destructive: oklch(0.63 0.26 29.23);
    --theme-color-destructive-foreground: oklch(0.98 0 0);
    --theme-color-ring: oklch(0.71 0.04 256.83);
  }
}
