[production]
fully supports css-has and partially supports css-display-contents and not dead and last 2 years

[test]
fully supports css-has and partially supports css-display-contents and not dead and last 2 years

[development]
fully supports css-has and partially supports css-display-contents and not dead and last 1 version
