* text=auto eol=lf

/.husky/* linguist-detectable=false
*.js linguist-detectable=false
*.cjs linguist-detectable=false
*.mjs linguist-detectable=false

.lintstagedrc linguist-language=json
.markdownlint.json linguist-language=jsonc
.vscode/*.json linguist-language=jsonc
tsconfig.json linguist-language=jsonc
tsconfig.*.json linguist-language=jsonc
