$kofi-red: #ff5e5b;
$kofi-blue: #13c3ff;
$kofi-yellow: #fbaa19;
$kofi-dark: #434b57;

:root {
  --kofi-red: #{$kofi-red};
  --kofi-blue: #{$kofi-blue};
  --kofi-yellow: #{$kofi-yellow};
  --kofi-dark: #{$kofi-dark};
}
