.q-page-container {
  display: flex;
  flex-direction: column;
}

.q-page {
  container-name: q-page;
  container-type: size;
}

.q-btn-icon {
  @extend .q-pa-xs !optional;
}

.q-btn-icon.q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  margin-left: 0.125rem;
}

.q-btn,
.q-item,
.q-tab,
.q-toggle {
  text-transform: capitalize;
}

.q-tab-panels {
  background-color: transparent;
}

button.q-icon[class*="i-"] {
  background-color: #000000;

  .dark & {
    background-color: #ffffff;
  }
}

.q-field > .q-field__inner {
  display: flex;
  align-items: center;

  > .q-field__control {
    width: 100%;
  }
}
